/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


/* =============================
GLOBAL SETUP
============================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  font-family: "Montserrat";
  background: rgba(72, 81, 115, 1);
  color: #fff;
}

h1 {
  font-size: 3rem;
  font-weight: 500;
}


.container {
  margin: 0 auto;
}
.header {
  margin: 164px 0 0 0;
  text-align: center;
}
.content {
  margin: 138px 0 0 0;
}
.preview {
  position: relative;
  width: 500px;
  height: 200px;
  background: rgba(153, 173, 242, 1);
  margin: 0 auto;
}
.copy {
  display: flex;
  width: 500px;
  min-height: 50px;
  background: #ccc;
  margin: 64px auto 0 auto;
  text-align: center;
}
.copy__text {
  position: relative;
  flex-basis: 75%;
  color: #828282;
  padding: 1rem 0.5rem;
  font-size: 0.95rem;
  text-align: left;
}
.copy__button {
  flex-basis: 25%;
  flex-grow: 1;
  flex-shrink: 0;
  font-size: 1.25rem;
  font-weight: 500;
  background: #5174F4;
  color: #fff;
  border: none;
  cursor: pointer;
}

.copy__button:hover {
  background: #51a5f4;
}

.preview__input__container {
  position: absolute;
}
.border {}
.border::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
}


.border--top-left {
  top: -42px;
  left: -67px;
}
.border--top-left::after {
  top: 104%;
  left: 104%;
  background: linear-gradient(to top right, rgba(255, 255, 255, 0) calc(50% - 1px), #fff, rgba(255, 255, 255, 0) calc(50% + 1px));
}

.border--top-right {
  top: -42px;
  right: -67px;
}
.border--top-right::after {
  top: 104%;
  right: 104%;
  background: linear-gradient(to top left, rgba(255, 255, 255, 0) calc(50% - 1px), #fff, rgba(255, 255, 255, 0) calc(50% + 1px));
}

.border--bottom-left {
  bottom: -42px;
  left: -67px;
}
.border--bottom-left::after {
  bottom: 104%;
  left: 104%;
  background: linear-gradient(to top left, rgba(255, 255, 255, 0) calc(50% - 1px), #fff, rgba(255, 255, 255, 0) calc(50% + 1px));
}

.border--bottom-right {
  bottom: -42px;
  right: -67px;
}
.border--bottom-right::after {
  bottom: 104%;
  right: 104%;
  background: linear-gradient(to top right, rgba(255, 255, 255, 0) calc(50% - 1px), #fff, rgba(255, 255, 255, 0) calc(50% + 1px));
}



.preview__input {
  position: absolute;
  width: 80px;
  height: 25px;
  background: transparent;
  text-align: center;
  font-size: 1.25rem;
  color:#fff;
  border: none;
}
.preview__input:focus {
  outline: none;
}

.preview__input--top-left-right {
  top: -30px;
  border-bottom: 1px solid rgb(146, 146, 146);
  padding-bottom: 0.25rem;
}
.preview__input--top-left-left {
  height: 50px;
  width: 80px;
  top: 10px;
  left: -85px;
  border-bottom: none;
  border-right: 1px solid rgb(146, 146, 146);
  text-align: right;
  padding-bottom: 0;
  padding-right: 0.25rem;
}

.preview__input--bottom-left-right {
  bottom: -30px;
  border-bottom: none;
  border-top: 1px solid rgb(146, 146, 146);
  padding: none;
  padding-top: 0.25rem;
}
.preview__input--bottom-left-left {
  height: 50px;
  width: 80px;
  bottom: 10px;
  left: -85px;
  border-bottom: none;
  border-right: 1px solid rgb(146, 146, 146);
  text-align: right;
  padding-bottom: 0;
  padding-right: 0.25rem;
}


.preview__input--top-right-left {
  top: -30px;
  right: 0;
  border-bottom: 1px solid rgb(146, 146, 146);
  padding-bottom: 0.25rem;
}
.preview__input--top-right-right {
  height: 50px;
  width: 80px;
  top: 10px;
  right: -85px;
  border-bottom: none;
  border-left: 1px solid rgb(146, 146, 146);
  text-align: left;
  padding-bottom: 0;
  padding-left: 0.25rem;
}

.preview__input--bottom-right-left {
  bottom: -30px;
  right: 0;
  border-bottom: none;
  border-top: 1px solid rgb(146, 146, 146);
  padding: none;
  padding-top: 0.25rem;
}
.preview__input--bottom-right-right {
  height: 50px;
  width: 80px;
  bottom: 10px;
  right: -85px;
  border-bottom: none;
  border-left: 1px solid rgb(146, 146, 146);
  text-align: left;
  padding-bottom: 0;
  padding-left: 0.25rem;
}


.error {
  border-color: red;
}

.github {
  display: flex;
  width: 500px;
  margin: 64px auto 0 auto;
  align-items: center;
}

.github__link {
  margin-left: 1rem;
  color: rgb(23, 45, 131);
}
.github__link:active, .github__link:visited {
  color: color: rgb(23, 45, 131);
}